@import "color";

.app-container {

  .app-wrapper {
    margin: 0 50px;

    .app-head {
      height: 110vh;
      margin: 0 0 80px;

      .app-image {
        img {
          margin: 0;
          padding: 0;
          width: 90%;
          height: auto;
          min-width: 500px;
        }
      }
      .app-head-desc {
        display: table;
        table-layout: fixed;
        margin: 0 auto;
        padding: 30px 0;

        .desc-content {
          &__tag {
            display: table-cell;
            margin: 0;
            padding: 0 0 10px;
            width: 150px;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 1.4;
            text-align: left;
          }
          &__text {
            display: table-cell;
            margin: 0;
            padding: 0 0 10px;
            font-size: 1.4rem;
            line-height: 1.4;
            letter-spacing: 1px;
            text-align: left;
          }
        }
      }
    }
    .app-main {
      margin: 0 0 50px;

      .desc-box {
        position: relative;
        display: flex;
        width: 100%;
        min-width: 850px;
        height: 70vh;
        min-height: 400px;
        padding: 0 0 50px;

        &__left {
          width: 100%;
          padding: 0 15px 0 0;
        }
        &__image {
          img {
            width: calc(100% - 15px);
            height: auto;
            object-fit: cover;
          }
        }
        &__right {
          width: 100%;
          padding: 0 0 0 15px;
        }
        &__function-category {
          text-align: left;
          margin: 0 0 15px;
          font-size: 1.4rem;
          color: $same_font;
          letter-spacing: 1px;
          i {
            font-size: 1.4rem;
            color: $same_font;
          }
        }
        &__title {
          text-align: left;
          margin: 0 0 15px;
          font-size: 2.5rem;
          letter-spacing: 1px;
        }
        &__content {
          text-align: left;
          font-size: 1.4rem;
          letter-spacing: 1px;
          line-height: 1.5;
        }
        &__left {
          .desc-box__function-category {
            text-align: right;
          }
          .desc-box__title {
            text-align: right;
          }
          .desc-box__content {
            text-align: right;
          }
        }
        .back-item {
          position: absolute;
          top: 20px;
          left: 5%;
          width: 400px;
          height: 300px;
          border-radius: 40% 50% 40% 50%;
          background-color: $theme_1;
          box-shadow: 2px 2px 5px $shadow_color;
          -ms-filter: blur(4px);
          filter: blur(4px);
          z-index: -1;
          &.box-2 {
            left: 45%;
            border-radius: 50% 40% 50% 40%;
            background-color: $theme_2;
          }
          &.box-3 {
            top: 50px;
            left: 10%;
            border-radius: 40% 30% 50% 40%;
            background-color: $theme_3;
          }
          &.box-4 {
            top: 30px;
            left: 45%;
            border-radius: 50% 40% 30% 40%;
            background-color: $theme_5;
          }
        }
      }
    }
  }
}
