$back_white: #f2f2f2;
$back_black: #333333;
$normal_font: #333;
$same_font: #737373;
$white_font: #E6E6E6;
$link_font: #514859;
$slide_back: #CBD3D6;


$cover_color: rgba(0, 0, 0, 0.40);
$cover_color_2: rgba(0, 0, 0, 0.50);
$cover_font: rgba(255, 255, 255, 0.50);
$cover_border: rgb(161, 161, 161);
$shadow_color: rgba(0, 0, 0, 0.22);
$white_shadow: rgba(255, 255, 255, 0.3);



$theme_1: #9BCAF2;
$theme_2: #72B6F2;
$theme_3: #6941BF;
$theme_4: #5726BF;
$theme_5: #98A633;
