$white: #fff;
$black: #333333;
$gray: #AABFB8;
$one: #021C26;
$two: #467351;
$three: #594336;

$slide: #f1f1f1;
$slide_2: #c9c9c9;
$shadow_color: rgba(0, 0, 0, 0.32);
$shadow_back: rgba(0, 0, 0, 0.20);
$white_shadow: rgba(255, 255, 255, 0.2);

$white2: #f2f2f2;
$white3: #DEDEDE;

$cherry: #F54132;
$leaf: #74B126;
