@import "color";

.app-desc-wrapper {

  .app-top {
    background-image: url(../images/merucuri-top.jpeg);
    &__cover {
      position: relative;
      background-color: $cover_color_2;
      .app-name-chat {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8rem;
        font-family: 'Josefin Sans', "Hiragino Kaku Gohtic ProN", Meiryo, sans-serif;
        letter-spacing: 5px;
        color: $white_font;
      }
    }
  }
}
